@use 'tokens' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

body {
  background-color: $color-bg;
  color: $color-grey-500;
}

main {
  margin: 0 auto;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  padding: 0.5rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
