/* colors */
$color-grey-500: #4d4f62;
$color-grey-400: #6a7178;
$color-white: #ffffff;
$color-red: #ea5454;
$color-cyan: #44d3d2;
$color-blue: #549ef2;
$color-orange: #fcae4a;
$color-bg: #fafafa;

/* fonts */
$font-poppins: 'Poppins', sans-serif;
$fw-extra-light: 200;
$fw-regular: 400;
$fw-semi-bold: 600;

/* spacing */
$space-500: 2.5rem;
$space-400: 2rem;
$space-300: 1.5rem;
$space-200: 1rem;
$space-100: 0.5rem;

/* breakpoints */
$bp-md: 48rem;
$bp-lg: 64rem;
$bp-xl: 90rem;

$content-max-width: $bp-xl;
